.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.flip-card-inner{
    position: relative;
    width: 250px;
    height: 80px;
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 250px;
    height: 80px;
}

.front-card-btn {
    position: absolute;
    width: 250px;
    height: 80px;
}

.back-card-btn {
    position: absolute;
    width: 250px;
    height: 80px;
}

#lower-upper {
    position: absolute;
    bottom: 5px;
    right: 5px;
}