.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container {
    display: flex;
    flex-direction: column;
}

.card {
    position: relative;
    width: 250px;
    height: 80px;
}

#card {
    position: relative;
    width: 250px;
    height: 80px;
}

#lower-upper {
    position: absolute;
    bottom: 5px;
    right: 5px;
}