.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #062e21;
}

.card-container {
    display: flex;
    position: relative;
    top: 20px;
    align-items: center;
    justify-content: center;
    width: 350px;
    height: 160px;
    background-color: #93e9be;
}
