p {
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #444;            
        }
        .register {
            background-color: #f0f0f0;
            padding: 20px;
        }