body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Roboto, sans-serif    
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;    
}

.center {
    background-color: #f5f3f3;
    padding: 5px;
}

p {
    color: #444;            
}

.input-group {
    display: flex;
    flex-direction: column;
    padding:5px;
}

.input-group label {
    margin-bottom: 3px;
}

.input-group input {
    border-radius: 8px;
    border: 2px solid #ccc;
    padding: 5px;
}

input::placeholder {
    opacity: 0.5;
}

.form-errors {
    background-color: #ffe6e6;
    border: 1px solid #ff4d4d;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

.password-group {
    position: relative;
}

.password-group input {
    padding-right: 2.5rem;
}

.password-group svg {
    position:absolute;
    right: 0.75rem;
    top: 52%;
    fill: #6e6a6a    
}

.password-group button {    /* This button is for the password "eye" toggle */ 
    all: unset;
    cursor: pointer;
}

#eye {
    display: inline;
}

#slash_eye {
    display: none;
}

#confirm_eye {
    display: inline;
}

#confirm_slash_eye {
    display: none;
}

