<!DOCTYPE html>
<html lang="en">

<head>
    <title>Card Play</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="{{ url_for('static', filename='card_play.css') }}">
</head>

<body>
    <div class="container">
        <h1>Let's Practice Intervals!</h1>
        <div class="card-container">
            <div class="interval-label">
                <label id="interval-label">Interval Label</label>
            </div>
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <button class="front-card-btn" type="button" id="card">Card</button><span id="lower-upper"></span>                
                    </div>
                    <div class="flip-card-back">
                        <button class="back-card-btn" type="button" id="back-card">Back Card</button>
                    </div>
                </div>
            </div>
            <div class="next">
                <button type="button" id="next">Next</button> <span id="card_count">
            </div>
            
        </div>
    </div>
    

    <script>
        let show_cards = [];
        let lower_upper = ['Lower Key', 'Upper Key']
        let deck_size;        
        let remaining_cards;


        document.addEventListener("DOMContentLoaded", function(){
            fetch_card('/start');
        });

        document.getElementById("card").addEventListener("click", function(){
            if(document.getElementById("card").textContent === show_cards[0]){
                document.getElementById("card").textContent = show_cards[1];
                document.getElementById("lower-upper").textContent = lower_upper[1];
            }
            else{
                document.getElementById("card").textContent = show_cards[0];
                document.getElementById("lower-upper").textContent = lower_upper[0];
            }
        })
        
        document.getElementById("next").addEventListener("click", function(){
            fetch_card('/next')            
        });

        
        function fetch_card(route){
            return fetch(route, {method: "POST"})
                .then(response => response.json())
                .then(data => {                    
                    show_cards = data.card_values;
                    if (route === '/start'){
                        deck_size = data.total_cards;
                        interval_selection = data.interval_selection;
                        document.getElementById("interval-label").textContent = interval_selection;
                    }
                    
                    remaining_cards = data.cards_left

                    document.getElementById("card").textContent = show_cards[0];
                    document.getElementById("lower-upper").textContent = lower_upper[0];

                    let cards_used = deck_size - remaining_cards;
                    document.getElementById("card_count").textContent = cards_used + "/" + deck_size;
                    
                    if (cards_used >= deck_size){
                        document.getElementById("next").disabled = true;
                    }                                    
                })
        }        

    </script>
    </body>
</html>