{% extends "base.html" %}

{% block stylesheet %}<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">{% endblock %}

{% block title %}Interval Flip Cards{% endblock %}

{% block content%}             
<h1>Let's Practice Musical Intervals</h1>
<div class="card-container">
    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="interval_group">
            <label class="form-label">{{ form.choice.label.text }}</label>

            {% for subfield in form.choice %}
                <div class="form-check">
                    {{ subfield(class="form-check-input") }}
                    {{ subfield.label(class="form-check-label") }}
                </div>
            {% endfor %}
        </div>
        <div class="d-flex justify-content-center">
            {{ form.submit(class="btn btn-success btn-sm mt-3") }}
        </div>
    </form>
</div>
{% endblock%}